body,section,ul,li,nav,article,div,h4{
	margin:0;
	padding:0;
}
img{
	max-width: 100%;
	height: auto;
	display: block;
}
li{
	list-style-type: none; 
}
.nav-box ul{
	display: table;
	width: 100%;
}
.nav-box ul li{
	height: 70px;
	display: table-cell;
	text-align: center;
	font-size: 16px;
	border-bottom: 1px solid #a0a0a0;
	border-left: 1px solid #a0a0a0;
	color: #535353;
	position: relative;
	vertical-align: middle;
}
.nav-box ul li:first-child{
	border-left:none;
}
.nav-box li span{
	display: block;
	font-size: 12px;
	margin-top: 4px;
}
.nav-box ul li .hot{
	width:39px;
	height:37px;
	background: url(../image/hot.png) 0 0 no-repeat;
	background-size: 70%;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 0;
	display: none;
}
.nav-box ul li.show-hot .hot{
	display: block;
}
.nav-box li.active{
	background: #13b5b1;
	color: #fff;
}
.content-box{
	background: #f3f3f3;
	padding: 15px 3%;
	display: none;
}
.content-box.active{
	display: block;
}
.show-company{
	background: #fff;
	padding: 10px 2% 20px;
	margin-bottom: 15px;
}
.show-company .title{
	border-left: 2px solid #434343;
	height: 30px;
	font-size: 14px;
	margin-bottom: 10px;
	margin-left: 5px;
	padding-left: 5px;
	color: #313131;
	font-weight: normal;
}
.show-company .title span{
	display: block;
	color: #eb6100;
	font-size: 12px;
	margin-top: 5px;
}
.company-list{
	border-top: 1px solid #8e8e8e;
	padding-top: 20px;
}
.company-list li{
	float:left;
	width: 25%;
	box-sizing: border-box;
	padding:0 5px;
	margin-bottom: 20px;
}
.company-list li a{
	display: block;
	width:100%;
	padding-bottom: 100%;
	position: relative;
	overflow: hidden;
}
.company-list li img{
	position: absolute;
	margin:0 auto;
	top:50%;
	transform: translateY(-50%);
}
.show-company .more{
	color: #efa46d;
	font-size:12px;
}
@media screen and (max-width: 600px) {
    .nav-box ul li{
    	font-size:12px;
    	height: 50px;
    }
}